nav{height: 40px;background: #222;}
nav .nav{position: relative;}
nav .nav-r{float: left;margin-left: 200px;}
nav .nav-r ul{height: 40px;}
nav .nav-r ul li{float: left;font-size: 14px;padding:0 28px;line-height: 40px;height: 40px;}
nav .nav-r ul li a{color:#fff;}
nav .nav-r ul li:hover{background: rgba(200,200,200,0.5);}
nav .nav-r ul li:hover a{color:#fff;}
nav .classify{width: 200px;text-align: center;height: 540px;position: absolute;top:0;left:0;z-index: 500;opacity: 0.9;}
nav .classify h3{background:#c72131;width: 200px;height: 40px;line-height: 40px;color:#fff;}
nav .classify h3 i{background: url(../images/xiajiantou.png) no-repeat center;display: inline-block;width: 9px;height: 5px;margin-left: 3px;}
nav .classify .sort{height: 500px;}
nav .classify .sort ul{height: 500px;background: #fff;width: 200px;position: relative;}
nav .classify .sort ul li{height: 49px;border: 1px solid #ddd;border-top:none;padding-top:1px;font: 15px/49px "";width:198px;margin: 0;padding:0;float: left;}
nav .classify .sort ul li i{float: left;display: inline-block;width: 32px;height: 21px;margin:1px 10px 0 33px;}
nav .classify .sort ul li a{float: left;color:#333;}
nav .classify .sort ul li b{float: right;color:#999;;margin-right: 20px;}

nav .classify .sort ul li .sortlist{display:none;width: 768px; height: 499px; background: #fff;border: 1px solid #b81c2b;position: absolute;top: 0;left: 198px; overflow: hidden;}

nav .classify .sort ul li .sortlist dl{  float: left;width: 485px; height: 499px;line-height: 30px;margin: 8px 0 0 15px;overflow: hidden;font-size: 14px;line-height: 30px;}

nav .classify .sort ul li .sortlist dl dt{color: #454545;
font-weight: bold;height: 30px;padding: 3px 0 0;margin: -1px 0 0;float: left;width: 65px;}

nav .classify .sort ul li .sortlist dl .channel{ color: #fff;width: 100%; padding-top: 10px;}
nav .classify .sort ul li .sortlist dl .channel a{color: #fff; background-color: #9c1522; font-weight: normal;
padding: 5px 15px;text-decoration: none;}
nav .classify .sort ul li .sortlist dl .channel i{background-image: url(images/jiantou02.gif);width: 4px;height: 8px;display: inline-block;margin: 1px 0 0 8px;}

nav .classify .sort ul li .sortlist dl dd{padding: 5px 0 5px;float: left; width: 420px;  margin: -1px 0 0;border-bottom: 1px solid #dddad9;}
nav .classify .sort ul li .sortlist dl dd a{display: inline-block;vertical-align: top;margin: 0 0 0 12px;font-size: 13px;}
nav .classify .sort ul li:hover{border-right:none;}
nav .classify .sort ul li:hover .sortlist{display:block;}
