nav{height: 40px;background: #222;}
nav .nav{position: relative;}
nav .nav-r{float: left;margin-left: 200px;}
nav .nav-r ul{height: 40px;}
nav .nav-r ul li{float: left;font-size: 14px;padding:0 28px;line-height: 40px;height: 40px;}
nav .nav-r ul li a{color:#fff;}
nav .nav-r li:hover{background: rgba(200,200,200,0.5);}

nav .classify{width: 200px;text-align: center;height: 540px;position: absolute;top:0;left:0;z-index: 500;opacity: 0.9;}
nav .classify h3{background:#c72131;width: 200px;height: 40px;line-height: 40px;color:#fff;}
nav .classify h3 i{background: url(../images/xiajiantou.png) no-repeat center;display: inline-block;width: 9px;height: 5px;margin-left: 3px;}
nav .classify .sort{height: 500px;display: none;}
nav .classify .sort ul{height: 500px;background: #fff;width: 200px;}
nav .classify .sort ul li{height: 49px;border: 1px solid #ddd;border-top:none;padding-top:1px;font: 15px/49px "";width:198px;margin: 0;padding:0;float: left;position: relative;}
nav .classify .sort ul li i{float: left;display: inline-block;width: 32px;height: 21px;margin:1px 10px 0 33px;}
nav .classify .sort ul li a{float: left;color:#333;}
nav .classify .sort ul li b{float: right;color:#999;;margin-right: 20px;}
nav .classify .sort ul li .sortlist{display: none;}
